
<h1 style="text-align:center">LOGIN</h1>
  <form style="text-align:center">
      <div>
    <input placeholder="Username" #nombre maxlength="80" name="nombre" required>
    </div>
    <div>
        <p>
    <input placeholder="Password" #nombre maxlength="80" name="password" required>
        </p>
  </div>
    <button>Enviar</button>
    <button type ="button">Borrar</button>
    <div>
      <p>
        <button type ="button">REGISTRATE</button>
        </p>
        </div>
  </form>

  <h1 style="text-align:center">FORMULARIO DE REGISTRO</h1>
  <form style="text-align:center">
      <div>
    <input placeholder="Nombre" #nombre maxlength="16" name="nombre" required>
    </div>
    <div>
        <p>
    <input placeholder="Apellido" #nombre maxlength="16" name="apellido" required>
        </p>
  </div>
  <div>
      <p>
  <input placeholder="Correo Electronico" #nombre maxlength="16" name="correo" required>
      </p>
</div>
<div>
    <p>
<input placeholder="Username" #nombre maxlength="16" name="username" required>
    </p>
</div>
<div>
    <p>
<input placeholder="Password" #nombre maxlength="16" name="password" required>
    </p>
</div>
    <button>Enviar</button>
    <button type ="button">Borrar</button>
  </form>


